html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.weekNotes {
  border-radius: 20px;
  border: 1px solid #675432;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.weekTitle {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 20px;
}

.containerDayNotes {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #675432;
}

/*Контейнер дня и его наполнение*/

/*Оформление контейнера*/
.dayNotes {
  display: flex;
  flex-wrap: wrap;
}

/*Наполнение коейнера дня*/
.numDay {
  width: 10%;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.dayNoteData {
  display: flex;
  flex-wrap: wrap;
}

.excerpt {
  width: 100%;
}

.tagsList {
  margin-right: 15px;
}

.userList {

}

.quantityNotes {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display:block;
  border: 2px solid #675432;
  border-radius:50px;
}

/*Контейнер заметок и его наполнение*/

/*Оформление контейнера*/
.containerNotes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/*Контейнер с заметкой*/
.note {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #675432;
}

/*Наполнение контейнера с заметкой*/

.noteData {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.noteTitle {
  width: 100%;
  margin-bottom: 5px;
}

.tags {
  margin-right: 15px;
}